<app-header titulo="Ranking de Puntajes" refback="modulo-educativo" ></app-header>

<ion-content>

    <!-- <ion-card class="cards">
        <ion-card-header>
            <ion-card-title>Comenzar trivia!!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-button expand=block href="trivia">
                <ion-icon name="play"></ion-icon>
                Comenzar
            </ion-button>
        </ion-card-content>
    </ion-card> -->

    <ion-card class="cards">
        <ion-card-header>
            <ion-card-title>Categorías</ion-card-title>
        </ion-card-header>

        <div>
            <ion-segment value="1" mode="ios" color="dark">
                <ion-segment-button value="1" (click)="cambioSegment('1')">
                    <ion-icon class="icon-segment" name="star" color="success"></ion-icon>
                  <span class="text-segment">Fácil</span>
                </ion-segment-button>
    
                <ion-segment-button value="2" (click)="cambioSegment('2')">  
                    <ion-row>
                        <ion-icon class="icon-segment" name="star" color="warning"></ion-icon>
                        <ion-icon class="icon-segment" name="star" color="warning"></ion-icon>
                    </ion-row>
                  <ion-label> 
                    <span class="text-segment">Intermedio</span>
                  </ion-label>
                </ion-segment-button>
    
                <ion-segment-button value="3" (click)="cambioSegment('3')">
                    <ion-row>
                        <ion-icon class="icon-segment" name="star" color="danger"></ion-icon>
                        <ion-icon class="icon-segment" name="star" color="danger"></ion-icon>
                        <ion-icon class="icon-segment" name="star" color="danger"></ion-icon>
                    </ion-row>
                    <ion-label>Dificil</ion-label>
                  </ion-segment-button>
              </ion-segment>
        </div>


        <ion-card-content *ngIf="flagFacil">
            <ion-list>
                <ion-item *ngFor="let i of [1,1,1,1,1,1]" class ="cards">
                    <ion-avatar slot="start">
                        <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
                    </ion-avatar>
                    <ion-label>
                        <h2>Nombre</h2>
                        <p>Dificultad: Facil</p>
                    </ion-label>
                    <ion-label slot="end">
                        <h2>Puntaje: 00:00</h2>
                        <p>Correctas: 00/10</p>
                        <p>Incorrectas: 45</p>
                        <p>No respondidas: 10 </p>
                    </ion-label>
                </ion-item>
            </ion-list> 
        </ion-card-content>

        <ion-card-content *ngIf="flagMedio">
            <ion-list>
                <ion-item *ngFor="let i of [1,1,1,1,1,1]" class ="cards">
                    <ion-avatar slot="start">
                        <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
                    </ion-avatar>
                    <ion-label>
                        <h2>Nombre</h2>
                        <p>Dificultad: Intermedio</p>
                    </ion-label>
                    <ion-label slot="end">
                        <h2>00:00</h2>
                        <p>00/00</p>
                    </ion-label>
                </ion-item>
            </ion-list> 
        </ion-card-content>

        <ion-card-content *ngIf="flagDificil">
            <ion-list>
                <ion-item *ngFor="let i of [1,1,1,1,1,1]" class ="cards">
                    <ion-avatar slot="start">
                        <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
                    </ion-avatar>
                    <ion-label>
                        <h2>Nombre</h2>
                        <p>Dificultad: Dificil </p>
                    </ion-label>
                    <ion-label slot="end">
                        <h2>00:00</h2>
                        <p>00/00</p>
                    </ion-label>
                </ion-item>
            </ion-list> 
        </ion-card-content>
    </ion-card>
    

</ion-content>
