ion-icon{
    font-size: 64px;
}

.cards{
    margin: 1vh;
    border:1px solid rgb(187, 187, 187);
}

// .card-content{
//     padding: 0vh 0vh 0vh 0vh;
// }

ion-card-header{
    padding-bottom:0px;
}