<ion-card class="cards"> <!--color={{cardColor}}-->
  <ion-grid>
    <ion-row class="text-align-center ion-align-items-center">
      <ion-col size="8">
        <ion-card-header>
          <ion-card-title>
            <ion-text color="primary">
              <h5>{{subtitulo}}</h5>
            </ion-text>
          </ion-card-title>
          <br>
        </ion-card-header>
      
        <ion-card-content class="card-content  ion-text-justify">
          {{contenido}}
        </ion-card-content>
      </ion-col>
    
      <ion-col class>
        <div class="ion-text-center">
          <ion-icon name={{icono}} color={{iconoColor}} ></ion-icon>
          <br>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
