<ion-header *ngIf="evento">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mapa"></ion-back-button>
    </ion-buttons>
    <ion-title>{{evento.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="evento">
  <ion-grid class="ion-no-padding" id = "grilla" >
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <div class= "text-container"> 
        <p class="parrafo-zona">Zona: {{evento.zona}}</p>
        <p class="parrafo-fecha">Fecha : {{evento.fecha}}</p>
        <p class="parrafo">{{evento.descrip}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <img-comparison-slider>
        <img slot="first" src="../../assets/img/antes.jpg" />
        <img slot="second" src="../../assets/img/despues.jpg" />
      </img-comparison-slider>
    </ion-row>
    <ion-row class="row-img">
      <ion-col size="6" class="col-slides">
        <ion-slides pager="false" #mySlider>
          <ion-slide *ngFor="let slide of slides">
            <ion-img [src]="slide.img" style="background-color: lightblue; height:15vh;"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="6" class="col-slides">
        <ion-slides pager="false" #mySlider2>
          <ion-slide *ngFor="let slide of slides">
            <ion-img [src]="slide.img" style="background-color: lightblue; height:15vh;"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row class="row-img">
      <ion-col size="6" class="col-slides">
        <ion-slides pager="false" #mySlider3>
          <ion-slide *ngFor="let slide of slides">
            <ion-img [src]="slide.img" style="background-color: lightblue; height:15vh;"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="6" class="col-slides">
        <ion-slides pager="false" #mySlider4>
          <ion-slide *ngFor="let slide of slides">
            <ion-img [src]="slide.img" style="background-color: lightblue; height:15vh;"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row class = "buttons-row">
      <ion-col size = "3">
        <ion-button color="warning" expand="block" class="btn-img"  (click) = "setAntes(0)">Antes</ion-button>
      </ion-col>
      <ion-col size = "6">
        <ion-button color="warning" expand="block" class="btn-img" (click) = "setAntes(1)">Justo después</ion-button>
      </ion-col>
      <ion-col size = "3">
        <ion-button color="warning" expand="block" class="btn-img" (click) = "setAntes(2)">Ahora</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid class="ion-no-padding" >
    <ion-row class=".ion-no-padding" style="height:7vh;">
      <ion-col size="3">
        <ion-button fill="clear" expand="block" color="dark" size="large">
          <ion-icon name="image"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button fill="clear" expand="block" color="dark" size="large">
          <ion-icon name="megaphone"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3" >
        <ion-button fill="clear" expand="block" color="dark" size="large"> 
          <ion-icon  name="videocam"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button fill="clear" expand="block" color="dark" size="large">
          <ion-icon name="chatbubble-ellipses"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
