<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mapa"></ion-back-button>
    </ion-buttons>
    <ion-title>Título del Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding" id = "grilla">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <div class= "text-container"> 
        <p class="parrafo-zona">Zona: Urbana</p>
        <p class="parrafo-fecha">Fecha : xx/xx/xxxx</p>
        <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices scelerisque justo, sit amet vulputate mi varius rhoncus. Donec semper et justo nec porttitor. Proin semper a nisi maximus tristique. Nulla cursus urna sit amet varius accumsan. Sed blandit, sem vel semper suscipit, tortor mi sagittis ante, ac dignissim est erat ut eros. Aenean sollicitudin scelerisque egestas.</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <img-comparison-slider>
        <img slot="first" src="../../assets/img/antes.jpg" />
        <img slot="second" src="../../assets/img/despues.jpg" />
      </img-comparison-slider>
    </ion-row>
    <ion-row class="row-img">
      <ion-col size="6">
        <ion-img src="..." style="background-color: lightblue; height:15vh;"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img src="..." style="background-color: lightblue; height:15vh;"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="row-img">
      <ion-col size="6">
        <ion-img src="..." style="background-color: lightseagreen; height:15vh;"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img src="..." style="background-color: lightseagreen; height:15vh;"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class = "buttons-row">
      <ion-col size = "3">
        <ion-button color="warning" expand="block" class="btn-img">Antes</ion-button>
      </ion-col>
      <ion-col size = "6">
        <ion-button color="warning" expand="block" class="btn-img">Justo después</ion-button>
      </ion-col>
      <ion-col size = "3">
        <ion-button color="warning" expand="block" class="btn-img">Ahora</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid class="ion-no-padding" >
    <ion-row class=".ion-no-padding" style="height:7vh;">
      <ion-col size="3">
        <ion-button fill="clear" expand="block" color="dark" size="large">
          <ion-icon name="image"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button fill="clear" expand="block" color="dark" size="large">
          <ion-icon name="megaphone"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3" >
        <ion-button fill="clear" expand="block" color="dark" size="large"> 
          <ion-icon  name="videocam"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button fill="clear" expand="block" color="dark" size="large">
          <ion-icon name="chatbubble-ellipses"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
