<app-header titulo="Relatos" [refback]="refMemoria"></app-header>

<ion-content padding *ngIf="evento">
  <ion-grid class="ion-no-padding" id="grilla">
      <ion-row class="ion-no-padding">
          <ion-col>
              <ion-card color="light" style="border:1px solid;">
                  <ion-card-header style="text-align:center">
                      <ion-icon name="megaphone" style="font-size:4vh"></ion-icon>
                  </ion-card-header>
                  <ion-card-content>
                      <p>Esta sección de relatos corresponde al evento: <b>{{evento.titulo}}</b> ocurrido con fecha: <b>{{evento.fecha}}</b>.</p>
                  </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-card color="light" class="card-foto">
              <ion-card-content class="ion-no-padding">
              <ion-list style="width:100%">
                <ion-item *ngFor="let track of playlist" >
                    <ion-button fill="clear" 
                                (click)="start(track)"
                                [color]="track== activeTrack? 'success' : 'dark'">
                      <ion-icon [name]="track== activeTrack? 'volume-low' : 'volume-off'" 
                                style="font-size:4vh; margin-right:1vh"></ion-icon>
                    </ion-button>
                    <ion-label [color]="track == activeTrack? 'success' : 'dark'"  style="font-size:2vh;" >
                      {{track.name}}
                    </ion-label>
                    <ion-label color="medium"  style="font-size:2vh; text-align: right;" >
                      01/01/01
                    </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
            </ion-card>
        </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="activeTrack">
  <ion-toolbar color="dark">
    <ion-row>
      <ion-col size="12" text-center class="ion-text-center">
        {{activeTrack.name}}
      </ion-col>
      <ion-col size="12" text-center class="ion-text-center">
        Por: Francisco Giacomozzi
      </ion-col>
      <ion-col size="12">
        <ion-range #range [(ngModel)]="progress" max="100" color="success" (touchend)="seek()" (mouseup)="seek()"></ion-range>
      
      </ion-col>
      <ion-col size="12" class="ion-text-center">

        <ion-button fill="clear" (click)="prev()" color="light">
          <ion-icon slot="icon-only" name="play-skip-back"></ion-icon>
        </ion-button>

        <ion-button fill="clear" (click)="togglePlayer(false)" *ngIf="!isPlaying" color="light">
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>

        <ion-button fill="clear" (click)="togglePlayer(true)" *ngIf="isPlaying" color="light">
          <ion-icon slot="icon-only" name="pause"></ion-icon>
        </ion-button>

        <ion-button fill="clear" (click)="next()" color="light">
          <ion-icon slot="icon-only" name="play-skip-forward"></ion-icon>
        </ion-button>


      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-footer>
