<app-header titulo="Memoria del Evento" *ngIf="evento" refback="mapa"></app-header>

<ion-content *ngIf="evento">
  <app-card-resumen [profileId]="profileId"></app-card-resumen>
  <ion-grid class="ion-no-padding" id="grilla">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" size="12">
        <ion-card color="light" class="card-foto">
          <ion-card-header class="descripcion-header">
            <ion-card-title><b>Descripción del evento</b></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{evento.descripcion}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-card color="light" class="card-foto">
        <ion-card-content class="card-content">
          <img-comparison-slider>
            <img slot="first"  [src]="evento.slider[0].url_antes" />
            <img slot="second" [src]="evento.slider[0].url_despues" />
          </img-comparison-slider>
        </ion-card-content>
        <ion-card-header class="header-slider">
          <ion-card-subtitle><b>Imágen izquierda:</b> Antes</ion-card-subtitle>
          <ion-card-subtitle><b>Imágen derecha:</b> Después</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-row>

    <ion-row class="row-img">
      <ion-col size="12" class="col-slides">
        <ion-slides pager="true">
          <ion-slide *ngFor="let sl of evento.memoria; let ind=index">
            <ion-card color="light" class="card-foto">
              <ion-card-header>
                <ion-card-subtitle style="text-align:left"><b>Título:</b> {{sl.titulo}}</ion-card-subtitle>
                <ion-card-subtitle style="text-align:left"><b>Subido por:</b> {{sl.usuario_id}}</ion-card-subtitle>
                <ion-card-subtitle style="text-align:left"><b>Descripción:</b> Espacio para descripción</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="card-content">
                <ion-slides #mySlider scrollbar="true">
                  <ion-slide *ngFor="let imagen of sl.img">
                    <ion-img [src]="imagen"></ion-img>
                  </ion-slide>
                </ion-slides>
                <ion-grid>
                  <ion-row class="buttons-row" #btnRow>
                    <ion-col size="3">
                      <ion-button
                        [color]="aColor[ind][0]"
                        expand="block"
                        class="btn-img"
                        (click)="clickBtn(0,ind)"
                        >Antes
                      </ion-button>
                    </ion-col>
                    <ion-col size="6">
                      <ion-button
                        [color]="aColor[ind][1]"
                        expand="block"
                        class="btn-img"
                        (click)="clickBtn(1,ind)"
                        >Justo después
                      </ion-button>
                    </ion-col>
                    <ion-col size="3">
                      <ion-button
                        [color]="aColor[ind][2]"
                        expand="block"
                        class="btn-img"
                        (click)="clickBtn(2,ind)"
                        >Ahora
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="footer-galeria">
  <ion-grid class="ion-no-padding">
    <ion-row class=".ion-no-padding" style="height: 7vh">
      <ion-col size="3">
        <ion-button
          fill="clear"
          expand="block"
          color="light"
          size="large"
          [href]="refGaleria"
          class="ion-no-margin"
        >
          <ion-icon name="image"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button fill="clear" expand="block" color="light" size="large" [href]="refRelatos" class="ion-no-margin">
          <ion-icon name="megaphone"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button fill="clear" expand="block" color="light" size="large" [href]="refComentarios" class="ion-no-margin" >
          <ion-icon name="chatbox-ellipses"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button fill="clear" expand="block" color="light" size="large" [href]="refValoraciones" class="ion-no-margin">
          <ion-icon name="star"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
