@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";

ion-toolbar{
    height:7vh;
}

ion-footer{
    height: 7vh;
}

ion-content{
    --background:white;
}

img-comparison-slider:focus{
     outline:none;
}

.descripcion-header{
    text-align: center;
}

#grilla{
    padding:0.2vh;
}

.text-container{
    padding:0vh 1vh 0vh 1vh;
}

.parrafo-zona{
    margin:0px;
    padding-top: 2vh;
    font-weight: bold;
    color:black;
}

.parrafo-fecha{
    margin:0px;
    padding-top: 2vh;
    font-weight: bold;
    color:gray;
}
.parrafo{
    margin:0px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color:black;

}

.btn-img{
    margin:0.7vh 0 1vh 0vh;
    padding-top:0.1vh;
    padding-left:0.6vh;
    padding-right:0.1vh;
    text-transform: capitalize;
}

.row-img{
    margin-top: 0.2vh;
}

.card-foto{
    margin: 1vh;
    border:1px solid rgb(187, 187, 187);
}

.card-content{
    padding: 0vh 0vh 1.5vh 0vh;
}

.header-slider{
    padding: 0 1vh 1vh 1vh;
}

.footer-galeria{
    background-color: #1f1f1f;
}

.text-segment{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.7vh;
    text-transform: none;
    padding:1vh;
    
}

.mySwiper{
    width:100%;

}
  
