ion-toolbar{
    height:7vh;
}

ion-footer{
    height: 7vh;
}

ion-content{
    --background:white;
}

#grilla{
    padding:0.2vh;
}

.parrafo-zona{
    margin:0px;
    padding-top: 2vh;
    font-weight: bold;
    color:black;
}

.parrafo-fecha{
    margin:0px;
    padding-top: 2vh;
    font-weight: bold;
    color:gray;
}
.parrafo{
    margin:0px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color:black;

}

.btn-img{
    margin:0.7vh 0 1vh 0vh;
    padding-top:0.1vh;
    padding-left:0.6vh;
    padding-right:0.1vh;
    text-transform: capitalize;
}

.row-img{
    margin-top: 0.2vh;
}

.card-foto{
    margin: 0.7vh;
    border:1px solid rgb(187, 187, 187);
}

.card-content{
    padding-left:0.5vh;
    padding-right: 0.5vh;
}




