<ion-content fullscreen="true" scrollY="false">
  <ion-grid class="ion-no-padding" id="grilla">
    <ion-row class="icons_row">
      <ion-col>
        <div>
          <ion-button fill="clear" expand="block" color="light" size="large" class="btn" href="home">
            <ion-icon name="arrow-back-circle" class="icon"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button fill="clear" expand="block" color="light" size="large" class="btn" id="open-modal-leyenda"
            [disabled]="navigationMode === true">
            <ion-icon name="information-circle" class="icon"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button fill="clear" expand="block" color="light" size="large" class="btn" href="mapa"
            [disabled]="navigationMode === true">
            <ion-icon name="refresh-circle" class="icon"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button fill="clear" expand="block" color="light" size="large" class="btn" id="open-modal-top"
            [disabled]="navigationMode === true">
            <ion-icon name="reader" class="icon"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="col_mapa">
        <!-- Modal Top Eventos -->
        <app-top-eventos></app-top-eventos>
        <!-- Modal Leyenda -->
        <app-leyenda [mapcolors]="mapcolors"></app-leyenda>
        <!-- Fin Modal -->
        <div id="map" size="10"></div>
        <div id="indicators" size="20" style="position: absolute"></div>
        <!-- Modal Filtro -->
        <app-filtros [filtros]="filtros" [aMarkers]="aMarkers" [map]="map" [miPos]="miPos" [labelDistancia]="labelDistancia" (colorEmitter)="recibirColor($event)">
        </app-filtros>
        <!-- Fin Modal -->
      </ion-col>
    </ion-row>
    <ion-row class="icons_row">
      <ion-col size="3">
        <div>
          <ion-button *ngIf="!navigationMode"   fill="clear" expand="block" [color]="colorFiltro" size="large" class="btn" id="open-modal">
            <ion-icon name="funnel" class="icon"></ion-icon>
          </ion-button>
          <ion-button *ngIf="navigationMode"   fill="clear" expand="block" [color]="colorNavigation[0]" size="large" class="btn" (click)="setRuta('BICYCLING')">
            <ion-icon name="bicycle" class="icon"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="3" class="col_filtro">
        <div>
          <ion-button *ngIf="!navigationMode" color="light" size="tiny" class="btn"  style="width:6vh; height:4vh;" (click)="changeDistance()">
            <ion-label style="font-size: 1.5vh; text-transform: none;">{{labelDistancia[0]}}</ion-label>
          </ion-button>
          <ion-button *ngIf="navigationMode"   fill="clear" expand="block" [color]="colorNavigation[1]" size="large" class="btn" (click)="setRuta('WALKING')">
            <ion-icon name="walk" class="icon"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="3" class="col_filtro">
        <div>
          <ion-button *ngIf="navigationMode"   fill="clear" expand="block" [color]="colorNavigation[2]" size="large" class="btn" (click)="setRuta('DRIVING')">
            <ion-icon name="car" class="icon"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          <ion-button *ngIf="flagCurrent === 1" fill="clear" expand="block" [color]="buttonRuta[1]" size="large"
            class="btn" (click)="calculateRoute()" (click)="presentToast()">
            <ion-icon [name]="buttonRuta[0]" class="icon"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>