
@media (orientation: portrait){
    .icons_row{
        background-color: #1f1f1f;
        height:10vh;
        align-items: center;
    }

    #map {
        height:80vh;
        opacity: 0;
        transition: opacity 150ms ease-in;
    }
    .icon{
        font-size:4vh;
    }

    .label-distancia{
        font-size: 1.5vh; 
        text-transform: none
    }

    .col_filtro{
        padding:1px;
    }

    #button-distancia{
        width:6vh;
        height:4vh;
    }
    

} 
@media (orientation: landscape){
    .icons_row{
        background-color: #1f1f1f;
        height:12vh;
        align-items: center;
        
    }

    .icons_col{
        display:flex;
         align-items:center; 
         justify-content:center
    }

    #map {
        height:76vh;
        opacity: 0;
        transition: opacity 150ms ease-in;
    }

    .icon{
        font-size:8vh;
    }

    ion-button{
        height:8vh;
        width:18vh;
    }

    .label-distancia{
        font-size: 4vh; 
        text-transform: none
    }

    .col_filtro{
        padding:1px;
    }

    #button-distancia{
        width:15vh;
        height:7vh;
    }
    

}


#map.show-map{
    opacity: 1;
}

.col_mapa{
    padding:0px;
}

#grilla{
    background-color: white;
    padding:0px;
}






.coord{
    font-size: 1.2vh;
    color:white;
}

.btn_filtro{
    text-transform: none;
    margin: 0px;
    font-size:1.5vh;
    
}



ion-modal {
    --height: 42%;
    --width:80%;
    --border-radius: 16px;

    ion-list{
        background-color: white;;
    }

    ion-content{
        background-color: white;
    }

    ion-checkbox{
        --background:white;
        --background-checked: #6815ec;
        --border-color:#6815ec;
        --border-color-checked:#6815ec;
    }

    ion-toolbar{
        display:inline-block;
    }

    .volver-modal{
        margin-left:35%;
    }

    .volver-modal-leyenda{
        margin-left:65%;
    }
}



