<app-header titulo="Agregar Relato" [refback]="refRelatos"></app-header>
<ion-content>
  <ion-grid class="ion-no-padding" id="grilla">
    <ion-row class="ion-no-padding">
        <ion-col>
            <ion-card color="light" style="border:1px solid;">
                <ion-card-header style="text-align:center">
                    <ion-icon name="images" style="font-size:4vh"></ion-icon>
                </ion-card-header>
                <ion-card-content>
                    <p>En esta sección puedes {{accion}} un relato para que sea escuchado por la comunidad. Todos los campos son <b>obligatorios</b>.</p>
                </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card class="card-foto" color="light">
            <ion-card-content class="card-content">
              <form [formGroup]="relato" (ngSubmit)="onSubmit()" novalidate >
                <label>
                  <ion-card-title>Subir Archivo</ion-card-title>
                  <input 
                    type= "file"
                    class="input-file"
                    formControlName = "Archivo"
                    (change)="changeFile($event)"
                    >
                </label> 
                <audio #figAudio controls muted>
                  <source [src]="relatoSrc" type="audio/mpeg">
                </audio>
                <label>
                  <ion-card-title>Título del Comentario</ion-card-title>
                  <input 
                    type= "text"
                    name="titulo" 
                    class="input-titulo"
                    maxlength="30"
                    placeholder="Titulo" 
                    formControlName = "titulo">
                </label>
                <div style="text-align: center;margin-top:1vh;">
                <ion-button color="success" type="submit" class="btn-agregar">{{accion}} Relato</ion-button>
                </div>
              </form>
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="isLoad">
            <ion-card-content>
              <ion-progress-bar type="indeterminate"></ion-progress-bar>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
