<app-header titulo="Modulo Educativo" refback="home" ></app-header>

<ion-content>

  <app-card *ngFor="let tar of tarjetas; index as i"
            titulo={{tar.titulo}}
            subtitulo={{tar.subtitulo}}
            contenido={{tar.contenido}}    
            icono={{tar.icono}} 
            iconoColor={{tar.iconoColor}}
            cardColor={{cardColors[i]}} 
            (click)="abrirSite(tar.site)">
  </app-card>

</ion-content>

<ion-footer class="footer">
  <ion-grid>
    <ion-row size="6">
      <ion-col class="ion-text-center">
        <ion-button color="light" href="trivia">
          <ion-icon name="game-controller"></ion-icon>
          Ir a Trivia</ion-button>
      </ion-col>
      <ion-col>
        <ion-button  color="light" href="trivia-home">
          <ion-icon name="school"></ion-icon>
          Ir a Ranking</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>