<app-header titulo="Modulo Educativo" refback="home" ></app-header>

<ion-content>

  <app-card *ngFor="let tar of tarjetas"
            titulo={{tar.titulo}}
            subtitulo={{tar.subtitulo}}
            contenido={{tar.contenido}}    
            icono={{tar.icono}} 
            iconoColor={{tar.iconoColor}} 
            (click)="abrirSite(tar.site)">
  </app-card>

</ion-content>

<ion-footer class="footer">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="light" href="trivia">
          <ion-icon name="game-controller"></ion-icon>
          Cuestionario</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>