<app-header titulo="Comentarios" [refback]="refMemoria"></app-header>

<ion-content padding *ngIf="comentarios">
  <app-card-resumen [profileId]="profileId"></app-card-resumen>

  <ion-grid class="ion-no-padding" id="grilla">
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-card color="light" style="border: 1px solid">
          <ion-card-header style="text-align: center">
            <ion-icon name="images" style="font-size: 4vh"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <p>
              En esta sección puedes visualizar todos los comentarios asociadas al punto de interés ingresados
              por los usuarios.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row style="margin-left: 1vh; margin-right: 1vh">
      <ion-col size="6" class="ion-text-center">
        <ion-button
          class="button-contenido"
          color="warning"
          fill="solid"
          (click)="toggleComentarios()"
          >{{myComStr}}</ion-button
        >
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-button
          class="button-contenido"
          color="success"
          fill="solid"
          [href]="refAgregarComentario"
          >Agregar Comentario</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Tarjetas -->
  <ion-grid class="ion-no-padding" id="grilla">
    <ion-row class="row-img" *ngFor="let com of comentarios; let ind=index">
      <ion-col size="12">
        <ion-card color="light" class="card-foto">
          <ion-card-header>
            <ion-card-title>
              {{com.titulo}}
              <app-like
                *ngIf="comentarios"
                categoria = "comentario"
                [iter]="com"
                [userId]="userId"
              ></app-like>
            </ion-card-title>
            <ion-card-subtitle
              ><b> Por: </b> {{com.usuario_name}}</ion-card-subtitle
            >
            <ion-card-subtitle
              ><b> Fecha: </b> {{com.fecha_subida}}</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <p>{{com.contenido}}</p>
            <div *ngIf="misComentarios" style="display: inline">
              <ion-card-subtitle style="display: inline"
                ><p style="color: grey">
                  <b> Aceptado </b>
                </p></ion-card-subtitle
              >
              <ion-button
                color="danger"
                size="small"
                style="float: right"
                (click)="presentEliminar( profileId, com.comentario_id)"
              >
                <ion-icon
                  slot="icon-only"
                  name="trash"
                  style="font-size: 2vh"
                ></ion-icon>
              </ion-button>
              <ion-button
                size="small"
                style="float: right"
                [href]="refEditarComentario + com.comentario_id"
              >
                <ion-icon
                  slot="icon-only"
                  name="create"
                  style="font-size: 2vh"
                ></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
