ion-content{
    --background:white;
}

ion-segment {
    width: 95%;
    height:20%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(183, 211, 245);

  }

.icon-segment{
    display:inline-block;
    font-size:2.2vh;
    vertical-align: middle;
    margin-right:0.5vh;
}

.text-segment{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.7vh;
}

#grilla{
    padding:0.2vh;
}

.text-container{
    padding:0vh 1vh 0vh 1vh;
}

.parrafo-zona{
    margin:0px;
    padding-top: 2vh;
    font-weight: bold;
    color:black;
}

.parrafo-fecha{
    margin:0px;
    padding-top: 2vh;
    font-weight: bold;
    color:gray;
}
.parrafo{
    margin:0px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color:black;

}

.row-img{
    margin-top: 0.2vh;
}

.card-foto{
    margin: 1vh;
    border:1px solid rgb(187, 187, 187);
}

.card-content{
    padding: 0vh 0vh 0vh 0vh;
}

ion-card-header{
    padding-bottom:0px;
}

.icon{
    font-size:150%;
    color:red;
}

.button-contenido{
    text-transform: none;
    width:98%;
}
