<app-header titulo="Galería" [refback]="refMemoria"></app-header>

<ion-content padding *ngIf="galeria">
  <app-card-resumen [profileId]="profileId"></app-card-resumen>
  <ion-grid class="ion-no-padding" id="grilla">
    <ion-row class="ion-no-padding">
      <ion-col style="margin-top: 1vh">
        <ion-segment
          value="0"
          mode="ios"
          color="tertiary"
          (ionChange)="segmentChanged()"
        >
          <ion-segment-button value="0">
            <ion-label>
              <ion-icon class="icon-segment" name="image"></ion-icon>
              <span class="text-segment">Imágenes</span>
            </ion-label>
          </ion-segment-button>
          <ion-segment-button value="1">
            <ion-label>
              <ion-icon class="icon-segment" name="videocam"></ion-icon>
              <span class="text-segment">Videos</span>
            </ion-label>
          </ion-segment-button>
        </ion-segment>

        <ion-card color="light" style="border: 1px solid">
          <ion-card-header style="text-align: center">
            <ion-icon [name]="strIcon" style="font-size: 4vh"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <p>
              En esta sección puedes visualizar {{strParagraph}} por los
              usuarios asociadas al punto de interés.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row style="margin-left: 1vh; margin-right: 1vh">
      <ion-col size="6" class="ion-text-center">
        <ion-button
          class="button-contenido"
          color="warning"
          fill="solid"
          (click)="toggleImagenes()"
          >{{strMiGaleria}}
        </ion-button>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-button
          class="button-contenido"
          color="primary"
          fill="solid"
          [href]="refAgregar"
          >{{strAgregar}}
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- CASO IMAGEN -->

    <ion-row class="row-img" *ngFor="let gal of galeria; let ind=index">
      <ion-col size="12">
        <ion-card
          *ngIf="gal.tipo=== 'img' && flagGaleria"
          color="light"
          class="card-foto"
        >
          <ion-card-content class="card-content">
            <ion-img [src]="gal.contenido"></ion-img>
          </ion-card-content>
          <ion-card-content>
            <ion-card-subtitle><b> Por: </b> {{gal.usuario_name}}</ion-card-subtitle
            >
            <ion-card-subtitle
              ><b> Fecha: </b> {{gal.fecha_subida}}</ion-card-subtitle
            >
            <p style="margin-top: 0.7vh">{{gal.descripcion}}</p>

            <ion-grid>
              <ion-col>
                <app-like
                  *ngIf="galeria"
                  categoria="galeria"
                  [iter]="gal"
                  [userId]="userId"
                ></app-like>
              </ion-col>
              <ion-row *ngIf="misImgs">
                <ion-col>
                  <ion-button
                    color="danger"
                    (click)="presentEliminar('imagen',profileId,gal.galeria_id)"
                    size="small"
                    style="float: right"
                  >
                    <ion-icon
                      slot="icon-only"
                      name="trash"
                      style="font-size: 2vh"
                    ></ion-icon>
                  </ion-button>
                  <ion-button
                    size="small"
                    style="float: right"
                    [href]="refEditar + gal.galeria_id"
                  >
                    <ion-icon
                      slot="icon-only"
                      name="create"
                      style="font-size: 2vh"
                    ></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <!-- CASO VIDEO -->

        <ion-card
          *ngIf="gal.tipo=== 'video' && !flagGaleria"
          color="light"
          class="card-foto"
        >
          <ion-card-content class="card-content">
            <div *ngIf="gal.contenido">
              <video
                width="100%"
                height="100%"
                playsinline
                preload="metadata"
                controls
              >
                <source [src]="gal.contenido + '#t=0.9' "  type="video/mp4" />
              </video>
            </div>
          </ion-card-content>
          <ion-card-content>
            <ion-card-subtitle
              ><b> Por: </b> {{gal.usuario_name}}</ion-card-subtitle
            >
            <ion-card-subtitle
              ><b> Fecha: </b> {{gal.fecha_subida}}</ion-card-subtitle
            >
            <p style="margin-top: 0.7vh">{{gal.descripcion}}</p>
            
            <ion-grid>
              <ion-col>
                <app-like
                *ngIf="galeria"
                categoria="galeria"
                [iter]="gal"
                [userId]="userId"
              ></app-like>
              </ion-col>
              <ion-row *ngIf="misImgs">
                <ion-col>
                  <ion-button
                    color="danger"
                    size="small"
                    style="float: right"
                    (click)="presentEliminar('video',profileId,gal.galeria_id)"
                  >
                    <ion-icon
                      slot="icon-only"
                      name="trash"
                      style="font-size: 2vh"
                    ></ion-icon>
                  </ion-button>
                  <ion-button
                    size="small"
                    style="float: right"
                    [href]="refEditar + gal.galeria_id"
                  >
                    <ion-icon
                      slot="icon-only"
                      name="create"
                      style="font-size: 2vh"
                    ></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
