<app-header titulo="Valoraciones" [refback]="refMemoria"></app-header>

<ion-content padding *ngIf="valoracion">
  <app-card-resumen [profileId]="profileId"></app-card-resumen>
  <ion-grid class="ion-no-padding" id="grilla">
      <ion-row class="ion-no-padding">
          <ion-col>
              <ion-card color="light" style="border:1px solid;">
                  <ion-card-header style="text-align:center">
                      <ion-icon name="star" style="font-size:4vh"></ion-icon>
                  </ion-card-header>
                  <ion-card-content>
                      <p>En esta sección puedes valorar el Punto de interés visitado según el nivel de <b>inmersión</b> y el nivel de <b>interes</b> generado en ti.</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding">
        <ion-col>
            <ion-card color="light" style="border:1px solid;">
                <ion-card-header style="text-align:center">
                    <ion-card-title><b>Valoración Inmersión</b></ion-card-title>
                    <ion-card-subtitle>Valora tu visita al evento de acuerdo a la inmersión producida.</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content style="padding:0vh; text-align:center">
                  <ion-button size="small" class="muy-bajo" [color]="inmersionColors[0]" (click)="getVal('inmersion',0)">Muy bajo</ion-button>
                  <ion-button size="small" class="bajo"     [color]="inmersionColors[1]" (click)="getVal('inmersion',1)">Bajo</ion-button>
                  <ion-button size="small" class="medio"    [color]="inmersionColors[2]" (click)="getVal('inmersion',2)">Medio</ion-button>
                  <ion-button size="small" class="alto"     [color]="inmersionColors[3]" (click)="getVal('inmersion',3)">Alto</ion-button>
                  <ion-button size="small" class="muy-alto" [color]="inmersionColors[4]" (click)="getVal('inmersion',4)">Muy Alto</ion-button>
                </ion-card-content>
                <ion-card-header style="text-align:center">
                  <ion-card-title><b>Valoración Interés</b></ion-card-title>
                  <ion-card-subtitle>Valora tu visita al evento de acuerdo a la interés generado.</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content style="padding:0vh; text-align:center">
                <ion-button size="small" class="muy-bajo" [color]="interesColors[0]" (click)="getVal('interes',0)">Muy bajo</ion-button>
                <ion-button size="small" class="bajo"     [color]="interesColors[1]" (click)="getVal('interes',1)">Bajo</ion-button>
                <ion-button size="small" class="medio"    [color]="interesColors[2]" (click)="getVal('interes',2)">Medio</ion-button>
                <ion-button size="small" class="alto"     [color]="interesColors[3]" (click)="getVal('interes',3)">Alto</ion-button>
                <ion-button size="small" class="muy-alto" [color]="interesColors[4]" (click)="getVal('interes',4)">Muy Alto</ion-button>
            </ion-card-content>
            <div class="div-enviar">
              <ion-button class="btn-enviar" (click)="enviarVal()">
                {{enviarTexto}}
                <ion-icon slot="end" name="star"></ion-icon>
              </ion-button>
            </div>
            
          </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>    