  <app-header titulo="Menú"></app-header>
  
  <ion-content fullscreen="true">
    <ion-grid class="grilla">
      <ion-row>

        <ion-col size="10" offset="1">
          <ion-button color="success" expand="block" size="large" class="btn" href="mapa">
            <ion-icon name="map"></ion-icon> 
            <ion-label>Ver mapa desastres naturales</ion-label>
          </ion-button>
        </ion-col>
        
      </ion-row>
      <ion-row>

        <ion-col size="5" offset="1">
          <ion-button color="primary" expand="block" class="btn">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>Información</ion-label>
          </ion-button>
        </ion-col>

        <ion-col size="5">
          <ion-button color="primary" expand="block" class="btn" href="modulo-educativo">
            <ion-icon name="book"></ion-icon>
            <ion-label>Mod. Educativo</ion-label>
          </ion-button>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col size="5" offset="1">
          <ion-button color="primary" expand="block" class="btn">
            <ion-icon name="settings"></ion-icon>
            <ion-label>Ajustes</ion-label>
          </ion-button>
        </ion-col>

        <ion-col size="5">
          <ion-button color="primary" expand="block" class="btn">
            <ion-icon name="people"></ion-icon>
            <ion-label>Acerca de</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="10" offset="1">
          <ion-button color="danger" class="btn" expand="block" >
            <ion-icon name="log-out"></ion-icon>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
</ion-content>