/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


//swiper
@import '~swiper/scss';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/keyboard';
@import '~swiper/scss/pagination';
@import '~swiper/scss/scrollbar';
@import '~swiper/scss/zoom';
@import '~@ionic/angular/css/ionic-swiper';



// Manejo de estilos para ion-alert y sus componentes
//----------------------------------------------------------------------------//

//Custom alert
ion-alert.custom-alert {
    --backdrop-opacity: 0.3;
    --background:rgba(248, 248, 248);
}

//Tabla para leyenda del mapa
.alert-message.sc-ion-alert-md{
    table{
        width:100%;
        color:rgb(74, 74, 74);
        
    }

    .td-tipo{
        text-align: right;
    }
}

.alert-title.sc-ion-alert-md{
    color:black!important;
}

.alert-checkbox-label.sc-ion-alert-md{
    color:rgb(74, 74, 74);
    text-align:right;

}


//Manejo de estilos para infowindow de google
//----------------------------------------------------------------------------//

.gm-style-iw.gm-style-iw-c{
    max-width: 30vh!important;
    padding:0vh 1vh 0vh 1vh!important;
}


 //estilos de swiper
// global.scss
@import '~swiper/scss';
@import '~@ionic/angular/css/ionic-swiper';

//estilos modulos swiper
@import '~swiper/scss';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/keyboard';
@import '~swiper/scss/pagination';
@import '~swiper/scss/scrollbar';
@import '~swiper/scss/zoom';
@import '~@ionic/angular/css/ionic-swiper';



.my-custom-toast{
    text-align: center;
}



