<app-header titulo="Slides" [refback]="refMemoria"></app-header>

<ion-content padding *ngIf="slides">
  <app-card-resumen [profileId]="profileId"></app-card-resumen>
  <ion-grid class="ion-no-padding" id="grilla">
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-card color="light" style="border: 1px solid">
          <ion-card-header style="text-align: center">
            <ion-icon name="images" style="font-size: 4vh"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <p>
              En esta sección puedes visualizar todos los slides asociadas al punto de interés que han sido subidos por los
              usuarios.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row style="margin-left: 1vh; margin-right: 1vh">
      <ion-col size="6" class="ion-text-center">
        <ion-button
          class="button-contenido"
          color="warning"
          fill="solid"
          (click)="toggleSlides()"
          >{{strMisSlides}}
        </ion-button>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-button
          class="button-contenido"
          color="primary"
          fill="solid"
          >{{strAgregar}}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding" *ngFor="let slide of slides; let ind=index">
      <ion-col size="12">
        <ion-card color="light" class="card-foto">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <div *ngIf="slide.img.length === 3; then treslabel else cuatrolabel"></div>

              <ng-template #treslabel>
                <ion-col size="4" *ngFor="let label of labels_2;let  i= index">
                  <ion-button size="small" class="btn-slider" expand="full" [color]="aColor[ind][i]" (click)="clickBtn(ind, i)">{{label}}</ion-button>
                </ion-col>
              </ng-template>

              <ng-template #cuatrolabel>
                <ion-col size="3" *ngFor="let label of labels;let i= index">
                  <ion-button size="small" class="btn-slider" expand="full" [color]="aColor[ind][i]" (click)="clickBtn(ind, i)">{{label}}</ion-button>
                </ion-col>
              </ng-template>
            </ion-row>


          </ion-grid>
          <swiper #mySwiper>
            <ng-template swiperSlide *ngFor="let image of slide.img; let ind=index">
              <ion-card-content class="ion-no-padding" style="width:100%">
                <img [lazyLoad]="image">
                <p><b>Fecha de captura: </b> {{slide.fechas[ind]}}</p>
                <p>{{slide.descripciones[ind]}}</p>
              </ion-card-content>
            </ng-template>
          </swiper>
          <div class="hr"></div>
          <ion-card-content>
            <ion-card-subtitle>
              <b>Título: </b>{{slide.titulo}}
            </ion-card-subtitle>
            <ion-card-subtitle>
              <b> Por: </b> {{slide.usuario_name}}
            </ion-card-subtitle>
            <ion-card-subtitle>
              <b> Fecha: </b> {{slide.fecha_subida}}
            </ion-card-subtitle>
            <app-like *ngIf="slides" categoria="slides" [iter]="slide" [userId]="userId">
            </app-like>


          </ion-card-content>

        </ion-card>
      </ion-col>

    </ion-row>


  </ion-grid>







</ion-content>