.card-foto{
    margin: 1vh;
    border:1px solid rgb(187, 187, 187);
}

.descripcion-header{
    text-align: center;
    padding-bottom:1vh;
}

.descripcion-content{
    text-align: center;
    margin-bottom:0.7vh;
}

.ciudad-lista{
    padding:0px;
}

.item-background-color{
    --ion-item-background: #f4f5f8;
}

